extends layout

block content
	h1 About Tom8to

	p Tom8to is a Metro style Pomodoro timer application, designed to help you get things done with short bursts of productivity and frequent micro-breaks.
	p
		p <a href="http://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro</a>, which is Italian for Tomato, is a technique that uses a timer to divide work periods into short (typically 25-minute) intervals, with a brief break between each.
	p Using the Tom8to application is simple:
		ol
			li Pick a single task to focus on.
			li Click the big red button.
			li Get to work!
	p That's it! Tom8to will keep track of your time and sound a buzzer when the interval is up. At any time during the interval, you can pause and reset using the buttons below the timer. You can also cancel the timer using the Cancel option on the AppBar.

	h2 Tom8to Settings
	p It's easy to get started with Tom8to with the defaults, but if customization is your thing, there are a few settings you can tweak:
		ul
			li <strong>Duration</strong> - Change the timer duration from 1 to 55 minutes (default is 25 minutes). Activate the AppBar when the timer is stopped to select this setting.
			li <strong>Font<strong> - Change the font used for the timer text. Activate the settings charm at any time to change this option.
			li <strong>Alarm</strong> - Change the alarm sound played at the end of an interval. Activate the settings charm at any time to change this option.

	h2 About the Developer
	p Tom8to was created by Brandon Satrom (<a href="http://twitter.com/brandonsatrom">@BrandonSatrom</a>). Have a question, comment or feature request? <a href="mailto:bsatrom@gmail.com">Email Me!</a>

	h2 Get the Win8 App!
	p Tom8to is available for Windows 8, and can be downloaded from the Windows Store. Why not check it out and tell us what you think?
	p
		a.btn(href="http://apps.microsoft.com/webpdp/app/tom8to/b9ee72ac-0179-48cb-9d57-51d03e1e1500") Get the App! &raquo;