extends layout

block content
	div.hero-unit
		img(src="img/logo-base.png", class="visible-phone")
		img.promo(src="img/promoSmall.png", class="hidden-phone")
		h1 Pomodoro, Win8 Style
		
		p <strong>Tom8to</strong> is a Win8 UI style Pomodoro timer application, designed to help you get things done with bursts of productivity and regular micro-breaks.
		p 
			a(href="/about", class="btn btn-secondary btn-large") Learn more &raquo;
			&nbsp;
			a(href="intro", class="btn btn-primary btn-large") Watch an Intro &raquo;
	div.row
		div.span4
			h2 Get the Win8 App!
			p Tom8to is available for Windows 8, and can be downloaded from the Windows Store. Why not check it out and tell us what you think?
			p
				a.btn(href="http://apps.microsoft.com/webpdp/app/tom8to/b9ee72ac-0179-48cb-9d57-51d03e1e1500") Get the App! &raquo;
		div.span4
			h2 Learn about Pomodoro
			p <a href="http://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro</a>, which is Italian for Tomato, is a technique that uses a timer to divide work periods into short (typically 25-minute) intervals, with a brief break between each.
			p
				a.btn(href="http://en.wikipedia.org/wiki/Pomodoro_Technique") Learn More &raquo;
		div.span4
			h2 Send us Feedback!
			p If you're using Tom8to and you have an bug report or feature request, we'd love to hear it. Just head on over to our UserVoice forum to enter your feedback.
			p
				a.btn(href="https://tom8to.uservoice.com") Submit Feedback &raquo;		
	hr