extends layout

block content
	div.hero-unit
		h1 Tom8to Intro Video
		p This brief (5 minute) intro video will introduce you to Tom8to, the first Pomodoro timer for Windows 8. You can watch the video by using the embedded player below, or <a href="https://vimeo.com/48875997/" target="_new">go directly to the video page on Vimeo.com</a> to watch.
		p(class="video")
			iframe(src="http://player.vimeo.com/video/48875997", width="500", height="281", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)