extends layout

block content
	h1 Tom8to Privacy Policy

	p &nbsp;
	p The Tom8to application leverages advertising targeted at <strong>trial-mode users only</strong>, and uses the <a href="http://advertising.microsoft.com/splitter">Microsoft Advertising SDK</a> to deliver these ads. The privacy policy of the Ads SDK is covered by Microsoft's <a href="http://privacy.microsoft.com/en-us/default.mspx">universal online privacy policy</a>, which can be found at <a href="http://privacy.microsoft.com/en-us/default.mspx">http://privacy.microsoft.com/en-us/default.mspx</a>. Related to advertising, this document states that personal information may be collected and used by Microsoft for advertising purposes. For more information about Microsoft's use of personal information for advertising, and to opt-out of advertising from Microsoft, see the <a href="http://privacy.microsoft.com/en-us/fullnotice.mspx#collection">Personal Information</a> section of the online Privacy policy.
	p Beyond its use of the Microsoft Ads SDK for displaying ads to trial-mode users, The Tom8to app does not itself collect or use any of your personal information.

	h2 Get the Win8 App!
	p Tom8to is available for Windows 8, and can be downloaded from the Windows Store. Why not check it out and tell us what you think?
	p
		a(href="http://apps.microsoft.com/webpdp/app/tom8to/b9ee72ac-0179-48cb-9d57-51d03e1e1500", class="btn btn-large") Get the App! &raquo;
		&nbsp;
		a(href="intro", class="btn btn-primary btn-large") Watch an Intro &raquo;